@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700&family=DM+Mono:wght@300;400&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-display: "Syne", sans-serif;
  --font-mono: "DM Mono", monospace;
  /* Colors */
  --color-off-white: #e9deff;
  --color-pink: #ff7495;
  --color-melon: #ffb674;
  --color-white: #ffffff;
  --color-off-black: #130d1a;
  --color-violet: #1e0d34;
}

html,
body {
  background-color: var(--color-violet);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@keyframes test-wave {
  0%,
  70%,
  100% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(25deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  30% {
    transform: rotate(25deg);
  }

  40% {
    transform: rotate(0deg);
  }
}

.test-wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: test-wave 3s ease-in-out infinite;
}

.arrow-hover {
  transition: filter 0.3s ease;
}

.arrow-hover:hover {
  filter: brightness(1.5) saturate(1.2);
}
